@font-face {
	font-family: "Cafe24Ssurround";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
		format("woff");
	font-weight: 300;
	font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.Goja {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 32vw;
	height: 100vh;
	background-color: pink;
	box-shadow: 0px 0px 10px 5px rgba(17, 17, 17, 0.158);
}
.title {
	font-family: "Cafe24Ssurround";
	font-size: 40px;
	color: pink;
	border: 3px solid palevioletred;
	border-radius: 10px;
	background-color: white;
	text-shadow: -1px 0 #000, 0 4px #000, 1px 0 #000, 0 -1px #000;
	padding: 10px;
	margin-bottom: 15px;
	position: fixed;
}
.btn {
	font-family: "Cafe24Ssurround";
	font-size: 20px;
}
.box_1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.box_2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title_2 {
	font-family: "Cafe24Ssurround";
	font-size: 20px;
}
.under {
	font-size: 5px;
}
.little {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	bottom: 60px;
}
.bob {
	display: flex;
	flex-direction: column;
}
.imgggg {
	width: 20vw;
}
.hi {
	font-family: "Cafe24Ssurround";
	font-size: 20px;
	background-color: "white";
	color: black;
	border: none;
	outline: none;
	width: 20vw;
	height: 10vh;
	border-radius: 10px;
	margin-right: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 10px 5px rgba(17, 17, 17, 0.158);
}
.ha {
	height: 50vh;
	width: 30vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.yes,
.no {
	box-shadow: 0px 0px 10px 5px rgba(17, 17, 17, 0.158);
	font-family: "Cafe24Ssurround";
	height: 40vh;
	width: 13vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}
.yes:hover,
.no:hover {
	background-color: palevioletred;
}
.q {
	padding-top: 10px;
	font-family: "Cafe24Ssurround";
	position: relative;
	left: 50px;
	font-size: 20px;
}
.resultBox {
	font-family: "Cafe24Ssurround";
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 20vh;
	background-color: white;
	border-radius: 10px;
}
.gojja {
	font-size: 30px;
}
.sad {
	font-family: "Cafe24Ssurround";
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 20vh;
	background-color: white;
	margin-top: 20px;
	font-size: 20px;
}
nav {
	width: 100vw;
	height: 6vh;
	background-color: white;
	position: fixed;
	z-index: 100000000;
	top: 0;
	border-bottom: 0.5px solid gray;
	display: flex;
	justify-content: space-between;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 20px;
}
.user {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 10vw;
	margin-right: 15px;
}
