* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "Cafe24Ssurround";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
		format("woff");
	font-weight: 300;
	font-style: normal;
}
body {
	width: 100vw;
	height: 200vh;
	background-color: bisque;
	display: flex;
	align-items: center;
	justify-content: center;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 20vh;
	background-color: aqua;
}
container2 {
	width: 100vw;
	padding-bottom: 100vh;
	background-color: brown;
}
main {
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: 10vh;
}
h3 {
	font-size: 30px;
}
p {
	font-size: 20px;
}
nav {
	width: 100vw;
	height: 7vh;
	background-color: white;
	position: fixed;
	top: 0;
}
